# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [6]:
# import numpy and pandas

import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [28]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [31]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [34]:
pokemon.Legendary.value_counts()

Legendary
False    735
True      65
Name: count, dtype: int64

In [36]:
# Your code here:

legendary = pokemon[pokemon.Legendary == True]
len(legendary)

65

In [38]:
normal = pokemon[pokemon.Legendary == False]
normal

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [41]:
puntos_legendary = legendary.Total
puntos_legendary.mean()

637.3846153846154

In [43]:
puntos_legendary.std()

60.93738905315346

In [45]:
puntos_normal = normal.Total
puntos_normal.mean()

417.21360544217686

In [47]:
puntos_normal.std()

106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [50]:
# Your code here:

stadistico, pvalor = st.ttest_ind(puntos_normal,puntos_legendary, equal_var= False)
pvalor

9.357954335957446e-47

In [52]:
stadistico

-25.8335743895517

What do you conclude from this test? Write your conclusions below.

In [55]:
# Que al ser el pvalor muy muy bajo su probabilidad, se rechaza.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [58]:
# Your code here:

pokemon["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [61]:
# Your code here:
water_pokemon = pokemon[pokemon['Type 1'] == 'Water']

In [63]:
mean_water = round(water_pokemon[["HP","Attack","Defense","Sp. Atk","Sp. Def","Speed"]].mean())
mean_water

HP         72.0
Attack     74.0
Defense    73.0
Sp. Atk    75.0
Sp. Def    71.0
Speed      66.0
dtype: float64

In [65]:
std_water = round(water_pokemon[["HP","Attack","Defense","Sp. Atk","Sp. Def","Speed"]].std())
std_water

HP         27.0
Attack     28.0
Defense    28.0
Sp. Atk    29.0
Sp. Def    28.0
Speed      23.0
dtype: float64

In [67]:
other_pokemon = pokemon[pokemon['Type 1'] != 'Water']

In [69]:
std_other = round(other_pokemon[["HP","Attack","Defense","Sp. Atk","Sp. Def","Speed"]].std())
std_other

HP         25.0
Attack     33.0
Defense    32.0
Sp. Atk    33.0
Sp. Def    28.0
Speed      30.0
dtype: float64

In [104]:
mean_other = round(other_pokemon[["HP","Attack","Defense","Sp. Atk","Sp. Def","Speed"]].mean())
mean_other

HP         69.0
Attack     80.0
Defense    74.0
Sp. Atk    72.0
Sp. Def    72.0
Speed      69.0
dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [114]:

mean_water_total = round(water_pokemon[["Total"]].mean())
mean_water_total

Total    430.0
dtype: float64

In [130]:
mean_other_total = pokemon[pokemon['Type 1'] != 'Water']["Total"].mean()
round(mean_other_total)

436

Write your conclusion below.

In [71]:
import scipy.stats as st
# Your conclusions here:
t_stat, p_value = st.ttest_rel(pokemon["Attack"],pokemon["Defense"]) # equal_var True for Welch's test (more robus, relies less on variance)
print(f"Test Statistic (t): {t_stat:.2f}")                                  # si la Ho fuese menor o mayor que, habría que ponerle el parámetro adicional
print(f"P-Value: {p_value:.50f}")
print()
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The attack and defense points are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is enough evidence to assume there are significative differences between attack/ defense points for each pokemon")

Test Statistic (t): 4.33
P-Value: 0.00001714030347935855799128106180528874347146484070

Reject the Null Hypothesis: There is enough evidence to assume there are significative differences between attack/ defense points for each pokemon

In [73]:
t_stat, p_value = st.ttest_ind(water_pokemon["Total"],other_pokemon["Total"]) # equal_var True for Welch's test (more robus, relies less on variance)
print(f"Test Statistic (t): {t_stat:.2f}")                                  # si la Ho fuese menor o mayor que, habría que ponerle el parámetro adicional
print(f"P-Value: {p_value:.50f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The total points are not significantly different between water/ non water pokemon.")
else:
    print("Reject the Null Hypothesis: There is enough evidence to assume there are significative differences between water/ non water pokemon")

Test Statistic (t): -0.44
P-Value: 0.65871403174887932507886034727562218904495239257812

Fail to Reject the Null Hypothesis: The total points are not significantly different between water/ non water pokemon.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [75]:
# Your code here:

t_stat, p_value = st.ttest_rel(pokemon["Attack"],pokemon["Defense"]) # equal_var True for Welch's test (more robus, relies less on variance)
print(f"Test Statistic (t): {t_stat:.2f}")                                  # si la Ho fuese menor o mayor que, habría que ponerle el parámetro adicional
print(f"P-Value: {p_value:.50f}")
print()

# Significance level
alpha = 0.05

# Decision-Making
if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The attack and defense points are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is enough evidence to assume there are significative differences between attack/ defense points for each pokemon")

Test Statistic (t): 4.33
P-Value: 0.00001714030347935855799128106180528874347146484070

Reject the Null Hypothesis: There is enough evidence to assume there are significative differences between attack/ defense points for each pokemon

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [79]:
# Your code here:

t_stat, p_value = st.ttest_rel(pokemon["Sp. Atk"],pokemon["Sp. Def"]) # equal_var True for Welch's test (more robus, relies less on variance)
print(f"Test Statistic (t): {t_stat:.2f}")                                  # si la Ho fuese menor o mayor que, habría que ponerle el parámetro adicional
print(f"P-Value: {p_value:.50f}")
print()


alpha = 0.05

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The sp_attack and sp_defense points are not significantly different.")
else:
    print("Reject the Null Hypothesis: There is enough evidence to assume there are significative differences between sp_attack/ sp_defense points for each pokemon")

Test Statistic (t): 0.85
P-Value: 0.39336859975481219819926081981975585222244262695312

Fail to Reject the Null Hypothesis: The sp_attack and sp_defense points are not significantly different.

Describe the results of the test in the cell below.

In [81]:
# Your conclusions here:

pokemon["one_sample_at_df"]=pokemon["Attack"]-pokemon["Defense"]
mu=0 

# Your code here:
    # One-Tailed Test (Right-Tailed)
t_stat, p_value = st.ttest_1samp(pokemon["one_sample_at_df"], mu)
print(f"Test Statistic (t): {t_stat:.2f}")
print(f"P-Value: {p_value:.50f}")
print()

if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: Not enough evidence to say there are differences between attack/ defense.")
else:
    print("Reject the Null Hypothesis: There is evidence to say there are differences between attack/ defense.")

Test Statistic (t): 4.33
P-Value: 0.00001714030347935855799128106180528874347146484070

Reject the Null Hypothesis: There is evidence to say there are differences between attack/ defense.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: